    {% load i18n %}

    <section id="{{ section.nav_title | slugify }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <h2 class="section-heading">{{section.title}}</h2>
                    <hr class="primary">
                    <p>{{section.description}}</p>
                </div>
                <div class="row">
                {% for contact in section.contact_methods.all %}
                    {% if contact.account_type == 'tw' %}
                    <div class="col-xs-12 col-sm-2 {% if forloop.first %} col-sm-offset-3 {% endif %} text-center">
                        <i target="_blank" class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>
                            <a target="_blank" href="{{contact.url}}">@{{contact.username}}</a>
                        </p>
                    </div>
                    {% elif contact.account_type == 'em' %}
                    <div class="col-xs-12 col-sm-2 {% if forloop.first %} col-sm-offset-3 {% endif %} text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>
                            <a href="mailto:{{contact.username}}">{{contact.username}}</a>
                        </p>
                    </div>

                    {% elif contact.account_type == 'fb' %}
                    <div class="col-xs-12 col-sm-2 {% if forloop.first %} col-sm-offset-3 {% endif %} text-center">
                        <i target="_blank" href="{{contact.url}}" class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>
                            <a target="_blank" href="{{contact.url}}">{{contact.username}}</a>
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </section>