{% extends "_base.html" %}
{% load compress %}
{% load staticfiles %}

{% block content %}
    {% include "navigation.html" with page=page %}

    {% for section in sections %}
    {% with ""|add:section.template as template %}
        {% include template with section=section %}

    {% endwith %}

    <!-- <p> {{section.title}}</p> -->
    {% empty %}
    <p> No sections yet ! </p>
    {% endfor %}
    {% include "footer.html" %}

    {% comment %}

    {% include "header.html" %}
    {% include "about.html" %}
    {% include "perks.html" %}
    {% include "talks.html" %}
    {% include "schedule.html" %}
    {% include "sponsors.html" %}
    {% include "partners.html" %}
    {% include "social.html" %}
    {% include "faq.html" %}
    {% include "workshops.html" %}
    {% include "venue.html" %}
    {% include "organizers.html" %}
    {% include "contact.html" %}
    {% endcomment %}

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlpfrm5k0wf4qTlKaIKQF4DFxAgecKdnw&sensor=false"></script>


{% if venue_section %}
<script type="text/javascript">
window.venue_long = {{venue_section.long}};
window.venue_lat = {{venue_section.lat}};
</script>
{% endif %}

{% compress js %}
<script type="text/javascript" src="{% static 'javascripts/snazzy-map.js' %}{% if debug %}?v=00001{% endif %}"></script>
{% endcompress %}

{% endblock %}