{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_language_info_list for available_languages as langs %}

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10" data-target="#header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll 
            {% if page.show_logo_in_navigation_bar %} navbar-brand-logo {% endif %}
            " href="{{page.event.url}}">
            {% if page.show_title_in_navigation_bar %}
              {{page.event.title}}
            {% endif %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
               <!--  <li>
                    <a class="page-scroll" href="#home">{% trans "Home" %}</a>
                </li> -->
                {% for section in sections %}
                    {% if section.is_visible and section.show_in_nav %}
                    <li>
                        <a class="page-scroll" href="#{{ section.nav_title | slugify }}">{{ section.nav_title }}</a>
                    </li>                              
                    {% endif %}
                {% endfor %}                  

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="pull-right language-selection">
                  <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    {% if lang.code == 'en' %}
                    <input type="hidden" name="language" value="fr">
                    <input type="hidden" name="next" value="/fr/">
                    <input class="btn btn-link" type="submit" value="FR"/>
                    {% else %}
                    <input type="hidden" name="language" value="en">
                    <input type="hidden" name="next" value="/en/">
                    <input class="btn btn-link" type="submit" value="EN"/>
                    {% endif %}
                  </form>
                </li>

                {% comment %}
                <li class="pull-right dropdown language-selection-dropdown">
                  <a href="#" id="{{lang.code}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ lang.name_local }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for other_lang in LANGUAGES %}
                        {% ifnotequal lang.code other_lang.0 %}
                            <li><a href="#" id="{{other_lang.0}}" class="lang">{{ other_lang.1 }}</a></li>
                        {% endifnotequal %}
                    {% endfor %}
                  </ul>
                </li>
                {% endcomment %}
                <li class="pull-right">
                    <div class="social-btns">
                      {% for account in event.social_media.all %}
                      {% if account.account_type == 'tw' %}
                      <a class="social-holder" href="{{account.url}}">
                       <div class="fui-twitter fa fa-twitter">
                       </div>
                       <div class="fui-twitter fa fa-twitter">
                       </div>
                      </a>
                      {% elif account.account_type == 'fb' %}
                      <a class="social-holder" href="{{account.url}}">
                       <div class="fui-facebook fa fa-facebook">
                       </div>
                       <div class="fui-facebook fa fa-facebook">
                       </div>
                      </a> 
                      {% elif account.account_type == 'ln' %}
                      <a class="social-holder" href="{{account.url}}">
                       <div class="fui-linkedin fa fa-linkedin">
                       </div>
                       <div class="fui-linkedin fa fa-linkedin">
                       </div>
                      </a> 
                      {% elif account.account_type == 'yt' %}                       
                      <a class="social-holder" href="{{account.url}}">
                       <div class="fui-youtube fa fa-youtube">
                       </div>
                       <div class="fui-youtube fa fa-youtube">
                       </div>
                      </a>
                      {% endif %}
                      {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>