    {% load i18n %}

    <section class="bg-dark" id ="social">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-heading">#{{section.hashtag}}</h2>
                </div>
                <div class="col-xs-6 col-sm-offset-4 col-sm-2 col-md-offset-5 col-md-1 text-center">
                    <a target="_blank" class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"
                        href="https://twitter.com/intent/tweet?text={{tweet_text|urlencode}}&url={{"http://www.SITEWEB.com"|urlencode}}&via=facmedudem"
  
                    ></a>
                    <!-- <p>
                        <a href="https://twitter.com/wearhacks">@WearHacks</a>
                    </p> -->
                </div>
                <div class="col-xs-6 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-1 text-center">
                    {% comment %}
                    <a target="_blank" href="https://www.facebook.com/dialog/share?
                      app_id=145634995501895
                      &display=popup
                      &link={{"http://www.SITEWEB.com"|urlencode}}
                      &href={{"http://www.SITEWEB.com"|urlencode}}
                      &redirect_uri={{"http://www.SITEWEB.com"|urlencode}}
                      &description={{facebook_text|urlencode}}
                      &name={{facebook_name|urlencode}}
                      &picture={{facebook_picture|urlencode}}" 
                      class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></a>
                    {% endcomment %}
                    <a target="_blank" href="https://www.facebook.com/wearhacks" 
                      class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></a>
                </div>
            </div>
        </div>
    </section>