{% load staticfiles %}


<section id="{{ section.nav_title | slugify }}"  class="sponsors">
  <div class="container ">
    {% for sponsor_group in section.sponsors_by_category %}
    <div class="row col-lg-12 text-center">
      <div class="section-heading {{sponsor_group.category|slugify}}">
      {% if sponsor_group.items|length = 1 %}
          <h1>Commaditaire {{sponsor_group.category}}</h1>
      {% endif %}
      {% if sponsor_group.items|length > 1 %}
          <h1>Commanditaires {{sponsor_group.category}}</h1>
      {% endif %}
      <hr >
      </div>
    </div>
    <div class="row {{sponsor_group.category|slugify}}">
      <div class="col-sm-offset-1 col-sm-10 text-center">
        <div class="row">
      <!-- premium sponsors (1/row)-->
        {% for sponsor in sponsor_group.items %}
                <div class="col-centered
                    {% if sponsor_group.category = 'Or' %}
                    col-sm-12 
                    {% elif sponsor_group.category = 'Ar' %}
                    col-xs-6 col-md-3
                    {% elif sponsor_group.category = 'Br' %}
                    col-xs-3 col-md-2
                    {% endif %}">       

                      <div class="sponsor-logos-container  {{sponsor.name|slugify}}">
                        <a href="{{sponsor.url}}" target="_blank">
                          <span class="helper"></span>
                          <img class="img-responsive" src="{% static sponsor.image.url %}">
                        </a>           
                      </div>
                </div>
        {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row col-lg-12 text-center">
        <h4>Voulez-vous devenir commanditaire ? Envoyez un courriel à <a href="mailto:{{section.sponsor_contact}}">{{section.sponsor_contact}}</a> ! </h4>
    </div>
  </div>
</section>
